.theme {
	display:flex;
	position: absolute;
	width:100%;
	font-size:2.5vw;
	top:1vw;
	left:0vw;
	font-family:"Calibri";
 }

/*下拉選單*/
.navbar{
	cursor : pointer;
}
.navbar_content{
	display: none;
	top:4vw;
	position : absolute;
	background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index :2;
}

.navbar_content a{
	float : none;
	display : block;
	text-decoration : none;
	text-align :left;
	font-size : 2vw;
}

.navbar:hover .navbar_content{
	display : block;
}

.navbar_content a:hover{
	background-color : #F1E569;
}


/*上方文字*/
 .th_sub_f{
	position: absolute;
	left:1vw;	
	width:9%;
	height:40px;
}

.th_sub{
	font-family:"Calibri";
	color:white;	
	position: relative;
	padding-right:2vw;
	top:1vw;
	border : 0;
	outline : none;
}


/*左上文字*/
.Fintech{
	margin-top:1vw;
	padding:0px 10vw 0px 5.5vw;
	color:#fca521;
}


/*未知物品*/
.FintechMoney{
	border:5px solid;
	color:white;
	border-color:#ffffff;
	margin-left:50vw;
	margin-right:10vw;
}


/*下方圖示*/
.download{
	position: absolute;

	top:38.2vw;
	left:2vw;
	width:14%;
	height:40px;
}

.apple{
	position: absolute;	
	top:38vw;
	left:18vw;
	width:14%;	
	height:40px;	 
}

.google{
	position: absolute;
	top:38vw;
	left:30vw;
	width:14%;
	height:40px;
}
.fb{

	position: absolute;
	top:37vw;
	right:10vw;
	width:5vw;
	height:5vw;
}
.youtube{
        position: absolute;
	top: 37vw;
	right:5vw;
	width:5vw;
	height:5vw;
}
.mail{
        position:absolute;
	top:37vw;
	right:0vw;
	width:5vw;
	height:5vw;
}

/*右方方塊*/

.p1_r_c{
	display:flex;
	position:absolute;
	top:11vw;	
	left:43vw;	
	width:50%;
	height:11vw;	
	border-color:white;
	border-style:solid;
	border-width:5px;
	font-family:"Calibri";
}
.fintech_c{
	
	position: absolute;	
	top:1.8vw;
	left:0.8vw;
	width:8.5%;
	height:70px;
}


.fintech_w{
	padding-top:3.6vw;
	padding-left:8.5vw;
	color:orange;
	font-size:3vw;
	
}

.fintech_t{
	font-size:2.2vw;
	padding-top:2.6vw;
	padding-left:8vw;
}
