body {
  background-color:black;
}
a:hover{position:relative;top:1px;left:1px;}
<!--下壓式連結-->

.theme {
	display:flex;
	position: absolute;
	width:100%;
	height:60px;
	font-size:2.2vw;
	top:1vw;
	left:0vw;
	
  
}
 .th_sub_f{
	position: absolute;
	left:1vw;	
	width:9%;
	height:40px;
}

.th_sub{
	font-family:"Calibri";
	color:white;
	text-decoration:none;
	padding-right:2vw;
	margin-top:1vw;
}
.Fintech{
	margin-top:1vw;
	padding:0px 10vw 0px 5.5vw;
	color:#fca521;
}


.FintechMoney{
	border:5px solid;
	color:white;
	border-color:#ffffff;
	margin-left:50vw;
	margin-right:10vw;
}

.download{
	position: absolute;

	top:38.2vw;
	left:2vw;
	width:14%;
	height:40px;
}


.apple{
	position: absolute;	
	top:38vw;
	left:18vw;
	width:14%;	
	height:40px;	 
}


.google{
	position: absolute;
	top:38vw;
	left:30vw;
	width:14%;
	height:40px;
}
.fb{

	position: absolute;
	top:37vw;
	right:10vw;
	width:14%;
	height:80px;
}
.youtube{
        position: absolute;
	top: 37vw;
	right:5vw;
	width:14%;
	height:40px:
}
.mail{
        position:absolute;
	top:37vw;
	right:0vw;
	width:14%;
	height:40px;	
}

.p1_r_c{
	display:flex;
	position:absolute;
	top:11vw;	
	left:43vw;	
	width:50%;
	height:11vw;	
	border-color:white;
	border-style:solid;
	border-width:5px;
	font-family:"Calibri";
}

.fintech_c{
	
	position: absolute;	
	top:1.8vw;
	left:0.8vw;
	width:8.5%;
	height:70px;
}


.fintech_w{
	padding-top:3.6vw;
	padding-left:8.5vw;
	color:orange;
	font-size:3vw;
	
}

.fintech_t{
	font-size:2.2vw;
	padding-top:2.6vw;
	padding-left:8vw;
}


.block1{
	background-image: url("../img/first_background.png");
	background-size:100vw;
	width:100vw;
	height:42.8vw;
}

.block2{
	background-color : #2A242A;
	padding: 200px;
}

.block3{
	background-color : #F1E569;
	padding: 200px;
}
