body {
  background-color:black;
}

.theme {
  position:relative;
  color:white;
  width:500px;
  
}

ul,li {
    display: inline;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

.FintechMoney{
	border:5px solid;
	color:white;
	border-color:#ffffff;
	margin-left:50vw;
	margin-right:10vw;
}

.block1{
	background-image: url("../img/first_background.png");
	padding: 200px;
}

.block2{
	background-color : #2A242A;
	padding: 200px;
}

.block3{
	background-color : #F1E569;
	padding: 200px;
}
