body {
  background-color:black;
}

.theme {
	display:flex;
	position: absolute;
	width:100%;
	height:60px;
	font-size:30px;
	top:10px;
	left:0px;
	
  
}
 .th_sub_f{
	float:left;
}

.th_sub{
	
	color:white;
	
	padding-right:40px;
	margin-top:30px;
}
.Fintech{
	margin-top:30px;
	padding:0px 120px 0px 0px;
	color:#fca521;
}


.FintechMoney{
	border:5px solid;
	color:white;
	border-color:#ffffff;
	margin-left:50vw;
	margin-right:10vw;
}

.block1{
	background-image: url("../img/first_background.png");
	background-size:100vw;
	width:100vw;
}

.block2{
	background-color : #2A242A;
	padding: 200px;
}

.block3{
	background-color : #F1E569;
	padding: 200px;
}
